<h1 class="text-center">Lista de Productos</h1>

<div class="container">
    <div class="row">
        {{#each productos}}
        <div class="col-lg-4">
            <div class="card mb-3 h-100">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ this.image }}" class="img-fluid rounded-start" alt="{{ this.title }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ this.title }}</h5>
                            <p class="card-text">{{ this.description }}</p>
                            <p class="card-text">Precio: ${{ this.price }}</p>
                            <p class="card-text">Stock: {{ this.stock }}</p>
                        </div>
                    </div>
                    <form action="/products/update/{{_id}}/edit" method="patch">
                        <button class="btn btn-warning">
                            Actualizar Producto
                        </button>
                    </form>


                    <form action="/delete/{{ _id }}" method="delete">
                        <button class="btn btn-danger" type="submit"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?')">
                            Eliminar Producto
                        </button>
                    </form>

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>